.cardMedia {
  height: 150px
}

.card {
  padding: 10px;
  margin: 10px;
}

.typo {
  font-size: 0.8rem !important;
}

.flexbox {
  display: flex;
  flex-direction: column;
}

.cardContent {
  flex: 1;
  flex-basis: 60px;
}

.cardActions {
  flex-direction: row-reverse;
}
