.flexFluid {
  flex: 1;
  min-width: 0;
  min-height: 1000px;
}

.flexCol {
  display: flex;
  flex-flow: column wrap;
  min-height: 0;

}

.background {
  width: 200px;
}

.flexHeader {
  flex-direction: column;
  flex: 1;
  background: antiquewhite;
}

.footer {
  display: flex;
  flex-flow: row-reverse;
  background-color: darksalmon;
}

.header {
  display: flex;
  flex-flow: row-reverse;
  background-color: darksalmon;
}
