.flexFluid {
  flex: 1;
  min-width: 0;
  min-height: 0;
}

.flexCol {
  display: flex;
  flex-flow: column wrap;
  min-height: 0;

}

.background {
  width: 200px;
}

.flexHeader {
  flex-direction: column;
  flex: 1;
}

.footer {
  display: flex;
  flex-flow: row-reverse;
}

.header {
  display: flex;
  flex-flow: row-reverse;
}
