.header {
  margin-top: 6px;
  margin-right: 6px;
}

.basket {
  display: flex;
  margin: 6px;
}

.media {
  width: 50px;
}

.drawer {
  overflow: auto;
}

.cardContent {
  flex-basis: 460px;
}

.drawerHeader {
  background-color: darksalmon;
  display: flex;
  height: 55px;
}

.typo {
  margin: auto;
}
